.about-section {
    background: url('../src/images/aboutussecbg.webp') no-repeat center center;
    background-size: cover;  /* Ensure full image is visible */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  /* Full viewport height */
    display: flex;
    align-items: center; 
    justify-content: center; 
    /* text-align: center;  */
    padding: 80px 10px 200px 10px;
    color: #000;
}

.about-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.about-heading {
    padding-right: 20px;
    font-size: 71px;
    font-weight: 700;
 
}

.about-text {
    align-items: end;
    font-size: 23px;
    line-height: 1.6;
    margin-top: 100px;
    
}

.section-title {
    margin-top: 100px;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-text {
    font-size: 23px;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    
    
}

/* Responsive Design */
@media (max-width: 768px) {


    .about-text {
        text-align: center;
    }

    .about-heading {
        padding-right: 0px;
        font-size: 28px;
        /* font-weight: 400; */
     
    }
    
    .about-text {
        align-items: end;
         font-size: 16px; 
        line-height: 1.6;
        margin-top: 0px;
       
    }

    .section-text {
        font-size: 16px; 
        line-height: 1.6;
        /* max-width: 900px; */
        margin: 0 auto;
        
        
    }
    
    
    .section-title {
        margin-top: 0px;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
}
