.leftimgcontent {
  padding: 0;
  background-color: #f3ebe0;
}

.bgcolor {
  background-color: #B6AA93;
  height: 100%;
}

.image-container {
  padding-right: 0;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
}


.image-wrapper img, .image-wrapper video {
  width: 100%;
  height: 377px;
  display: block;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

/* .image-wrapper img {
  width: 100%;
  height: 100%;

  display: block;
} */

.hover-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-wrapper:hover .hover-video {
  opacity: 1;
}

.text-container {
  padding: 40px;
  color: #ffffff;
  height: 377px;
  align-content: center;
}
.text-container h2 {
  font-size: 28px;
  font-weight: bold;
}

.text-container p {
  font-size: 16px;
  line-height: 1.6;
}

.btn-transparent {
  border: 2px solid white;
  padding: 10px 20px;
  background: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-transparent:hover {
  background: white;
  color: black;
}